.gameHistory {
    // padding: 1rem;
    display: flex;
    // flex-direction: column;
    white-space: nowrap;
    gap: 0.5rem;
    min-width: 20%;
    height: 112px;//calc(100% - 2rem);
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

}

.usersWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.order, .score {
    width: 2rem;
    text-align: center;
    // align-items: start;
    display: flex;
    align-self: baseline;
}

.user {
    // border: 1px solid #757575;
}

// .gameHistoryItem {
//     display: flex;
//     flex-direction: column;
// }

.wordItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wordWrapper {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
}

.skipped {
    background: rgb(240, 136, 136);
}

.guessed {
    background: rgb(169, 207, 170);
}

.guessed_2 {
    background: rgb(115, 202, 75);
}

.scoreWrapper {
    display: flex;
    justify-content: space-between;
}

.gameHistoryItem {
    width: 100%;
    // height: 4rem;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 2rem;
    justify-content: space-between;
    background: var(--secondary-background);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}