.selectLanguage {
    display: flex;
    // height: fit-content;
    // width: 8rem;
    margin-right: 0.1em;
}

.selectDropdownIcon {
    padding: unset;
    margin: unset;
    /* width: 8px; */
    // height: 4px;
    display: flex;
    align-items: center;
    margin-left: 0.25rem;

    svg {
        width: unset !important;
        height: unset !important;
    }
}

.selectOption {
    background: var(--background);
    padding: 0.2rem 0;
}