.mainPanelWrapper {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.centerPanelWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.leftSideWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}