.mainPanelWrapper {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    gap: 24px;
    padding: 24px 16px;
    box-sizing: border-box;
}

.userWrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.centerPanelWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 24px;
}

.leftSideWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}