:root {
    --background: #0a0a10;
    --secondary-background: #181820;
    --primary: #716FFF;
    --header-height: 30px;
    --landing-side-padding: 5%;

    *::-webkit-scrollbar {
        width: 8px;
        height: 12px;
        scrollbar-gutter: stable both-edges;
    }

    *::-webkit-scrollbar-track {
        background: var(--scroll-bar-bg-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: white;//var(--primary);//#181820;
        border-radius: 20px;
        border: 3px solid var(--scroll-bar-bg-color);
    }
}

html {
    overflow-y: scroll;
    background: var(--background);
    // overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: var(--background);
    font-family: 'Open Sans';
}

.input-field {
    width: 100%;
}
.users {
    display: flex;
    // min-width: 20rem;
    padding: 0.3rem;
    background: var(--background);
    grid-gap: 0.3rem;
    gap: 0.3rem;
    // width: 20%;
    height: 100%;
    flex-direction: column;

    .user {
        // background: azure;
        // padding: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        // height: 5rem;

        &--name {
            display: flex;
            font-size: medium;
            background: white;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        &--params{
            display: flex;
            flex-direction: column;

            &--fine {
                display: flex;
                color: chocolate;
            }
        }
    }
}

.slides {
    background-color: unset !important;
} 