.input {
    display: flex;
    border: solid #5d5d63 2px;
    border-radius: 6px;
    outline: none;
    padding: 12px;
    background: #181820;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}