.enterRoomWrapper {
    background: var(--secondary-background);
    padding: 1rem;
    margin-top: 10%;
    width: 362px;
    display: flex;
    flex-direction: column;
    align-self: center;
    // margin: auto;
    color: white;;
    border-radius: 8px;
    gap: 1rem;
    // transform: translateY(var(--header-height));
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    justify-content: center;
}