.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}

.createGame {
    display: flex;
    flex-direction: column;
    width:362px;
    background: #181820;
    padding: 1rem;
    align-self: center;
    margin: auto;
    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.selectLangPairWrapper {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem 0;
}

.selectWrapper {
    display: flex;
    width: 100%;
}

.dropDown {
    color: white;
    option {
        color: white;
    }
}

.swapIcon {
    fill: white;
    transform: rotate(90deg);
}

.createGameTitle {
    display: flex;
    font-size: larger;
}

.crateGameWrapper {
    display: flex;
    background: #181820;
    width: 100%;
    padding: 1rem;
    font-size: large;
    height: -webkit-fill-available;
    // margin: 2rem 0;
    height: 100%;
    overflow: auto;
}

.crateGameDescription {
    display: flex;
    width: 50%;
    border-right: solid 1px #6495ed26;
}

.mainSlider {
    background: #000000ad;
}

.authWraper {
    display: flex;
    gap: 0.5rem;
}

.customWordsWrapper {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    label {
        display: flex;
        width: 1.5rem;
    }
}

.customWordsCheckbox {
    display: flex;
}

.enterButton {
    width: 100%;
    justify-content: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.select {
    width: 100%;
    padding: 12px !important;
    // [aria-selected="true"] {
        
    // }
    background: var(--secondary-background);

    [role="option"] {
        background: var(--secondary-background);
        border: none;
        padding: 12px;

        &[aria-selected="true"] {
            background: var(--primary);
            border: none;
            &:hover {
                background: var(--primary);
            }
        }

        &:hover {
            background: var(--secondary-background);
        }
    }

}

.selectWrapper {
    width: 100%;
    // display: grid;

    & > div {
        width: 100%;
        display: grid;
        border: solid #5d5d63 2px !important;
        border-radius: 6px;
        outline: none;
        
        // background: #181820;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: white;
    }

}