.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../../icons/mainback.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 var(--landing-side-padding);
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: var(--header-height);
    justify-content: center;
}