.formWrapper {
    background: var(--secondary-background);
    width: 100%;
    max-width: 572px;
    display: flex;
    flex-direction: column;
    // margin-top: 10rem;
    color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.08);
    padding: 32px;
    gap: 10px;
    max-height: 100%;
}

.addWordWrapper {
    width: 100%;
    display: flex;
}

.wordsList {
    display: flex;
    flex-direction: column;
    max-height: 25rem;
    overflow: auto;
}

.input {
    width: 100%;
}

.wordsListItem {
    display: flex;
    padding: 12px;
    width: 100%;
    border-bottom: 1px solid #46464d;

    &:hover {
        background: rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    // max-height: 60%;
}

.titleText {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.btnWrapper {
    display: flex;
    gap: 0.5rem;
}