// .formWrapper {
//     background: white;
//     width: 50%;
//     max-width: 25rem;
//     padding: 1rem;
//     display: flex;
//     flex-direction: column;
//     margin-top: 10rem;
// }

// .content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .titleText {
//     font-size: 2rem;
//     display: flex;
//     justify-content: center;
// }

// .btnWrapper {
//     display: flex;
//     gap: 0.5rem;
// }
.formWrapper {
    color: white;
    background: #181820;
    // width: 50%;
    // max-width: 25rem;
    width: 362px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    // margin-top: 10rem;

    box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.08);
border-radius: 8px;
gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    // font-size: 2rem;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
}

.btnWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

}

.btn {
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.orText {
    font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: rgba(255, 255, 255, 0.5);
}

.fromFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    color: white;
    gap: 1rem;
}

.fromFooterItem {
    display: flex;
    gap: 0.3rem;
    font-weight: 400;
font-size: 14px;
line-height: 22px;

    a:link {
        color: var(--primary);
        text-decoration: underline;
      }
}