.chatWrapper {
    display: flex;
    flex-direction: column;
    background: var(--secondary-background);
    height: 100%;
    justify-content: space-between;
    color: white;
    backdrop-filter: blur(10px);
    width: 600px;
    min-width: 200px;
    align-self: center;
    font-size: medium;
    overflow-y: auto;
    border-radius: 8px;
}

.send {
    display: flex;
    cursor: pointer;
    padding-right: 0.5rem;
}

.chatInputWrapper {
    width: 100%;
    display: flex;
    // padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;   
    border-top: #69687a solid 1px;
    // padding: 0.5rem;
    input {
        color: white;
        width: 100%;
        border: none;
        height: 2rem;
        // cursor: pointer;
    }
}

.noMsgEmoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    align-self: center;
    justify-self: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    /* Text/mute */

    color: #69687A;
}

.input {
    width: 100%;
    border: none;
}

.chatMessageList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
    overflow-y: auto;
    padding-top: 0.3rem;

    &.noMsg {
        justify-content: center;
    }
}



.chatMessage {
    display: flex;
    flex-direction: column;
    background: white;
    width: max-content;
    color: black;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 8px 8px 8px 0px;
    max-width: calc(100% - 3rem);

    &.myMessage {
        background: var(--primary);
        border-radius: 8px 8px 0px 8px;
        align-self: flex-end;
        color: white;
    }

    .messageText {
        display: flex;
        width: 100%;
        overflow-wrap: anywhere;
    }
}

.messageFrom {
    display: flex;
    font-size: small;
    font-weight: bold;
    align-self: end;
}