.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.primary {
    background: var(--primary);
    color: white;
    padding: 11px 22px;
    border-radius: 6px;
    border: none;
    &:focus {
        background: var(--primary);
    }
}

.secondary {
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    padding: 11px 22px;
    border-radius: 6px;
    color: white;
}