.videoChatControlls {
    display: flex;
    background: var(--secondary-background);
    // position: absolute;
    bottom: 0;
    // width: 100%;
    left: 0;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    align-self: center;
    border-radius: 20px;
}

.controllButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    svg {
        width: 40px;
        height: 40px;
    }
}