.select {
    color: white;
    background: var(--background);
    border: none !important;
    &:hover {
        border: unset;
    }

    [role="list"] {
        border: unset;
    }

    input {
        display: none;
    }

    &:focus-within {
        box-shadow: none;
    }
}