.landing {
    // width: 80%;
    // min-height: 100vh;
    // position: fixed;
    padding: 0 var(--landing-side-padding);
}

section {
    // display: flex;
    width: 100%;
    min-height: 100vh;
    // background: red;
    display: flex;
    flex-direction: column;
}

// section {
//     font-family: sans-serif;
//     min-height: 100vh;
//   }

.donate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.rules {
    display: flex;
    min-height: 60vh;
}