.container {
    display: grid;
    color: white;
    flex: 1;
    grid-template-columns: 1fr 1fr;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    // color: white;
    flex: 1;
    // background: rebeccapurple;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 3rem;
}

.rightContent {
    display: flex;
    width: 100%;
    height: 100%;
    // background-color: red;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
/* or 52px */

letter-spacing: 0.045em;

color: #FFFFFF;
display: flex;
flex-direction: column;
margin-bottom: var(--header-height);
gap: 1.5rem;

}
.subtitle {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */

letter-spacing: 0.045em;

/* Accent/White */

color: #FFFFFF;
}

.playButton {
    font-size: 18px;
    line-height: 32px;
    width: fit-content;
    padding: 10px 32px;
}