.game {
    width: 100%;
    height: 100%;
    background: var(--secondary-background);
    border-radius: 8px;
}

.wordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.readyWrapper {
    color: white;
}

.wordItem {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

.wordItem {
    display: flex;
    // padding: 1rem;
    font-size: large;
    justify-content: center;
}

.wordControls {
    display: flex;
    flex-direction: column;
}

.rightAnswerWrapper {
    display: flex;
}

.nextButonWrapper {
    display: flex;
}

.carouselWrapper {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}

.buttonNext {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #add8e600;
    align-items: center;

    &:focus {
        background-color: #add8e600;
    }

    &:hover {
        background-color: #00000012;
    }
}

.progressBarWrapper {
    display: flex;
    width: 100%;
    position: absolute;
    // bottom: 1re;
    // top: 1rem;
    z-index: 1;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
justify-content: center;
/* identical to box height, or 138% */


color: #716FFF;
}

.buttonDone {
    display: flex;
    // position: relative;
    bottom: 1rem;
}

.wordStatusWrapper {
    background: #000000c4;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.wordStatus {
    display: flex;
}

.gameActiveUserVideo {
    display: flex;
    max-width: 50%;
}

.gameVideosWrapper {
    display: flex;
}