.btn {
    background: white;
}

.rightBtnsWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.headerLogo {
    font-size: 1.5rem;
    cursor: pointer;
}

.headerLeft {
    display: flex;
    gap: 0.5rem;
    // align-items: center;
}