.footer {
    display: flex;
    padding: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);;
    gap: 2rem;
    justify-content: center;
}

.item {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.5);
}