.container {
    display: grid;
    color: white;
    flex: 1;
    // grid-template-columns: 1fr 1fr;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    // color: white;
    flex: 1;
    // background: rebeccapurple;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 3rem;
    gap: 1rem;
}

.rulesContent {
    // background-image: url('/img/back.svg');
/* webpackIgnore: true */
    background-image: url('../../../../icons/back.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 139.5%;
    /* or 45px */

    letter-spacing: 0.03em;

    color: #FFFFFF;
    display: flex;
    text-align: left;
}

.titleLights {
    display: flex;
    position: absolute;
    right: 0rem;
    bottom: 50%;
}

.text {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-align: center;
    letter-spacing: 0.045em;
    width: 50%;
}